<?xml version="1.0" standalone="no"?>
<!DOCTYPE RETS SYSTEM "RETS-20041001.dtd">
<RETS ReplyCode="$!{results.replyCode}" ReplyText="$!{replyText}" >
#set( $countLimit = $parameters.get("Limit") )
#set( $searchCount = $parameters.get("Count") )
#set( $countOnly = false )
#set( $countAndData = false )
#if ($searchCount == "1") 
	#set( $countAndData = true)
#end
#if ($searchCount == "2") 
	#set( $countOnly = true)
#end
#if ($searchCount )
	#if ($countOnly || $countAndData)
<COUNT Records="$!{results.rows.size()}" />
	#end
#end
#if (!$countOnly )
<REData>
<REProperties>
#foreach( $row in $results.rows )
<LotsAndLand>
  <Listing>
    <StreetAddress>
      <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
      <BoxNumber></BoxNumber>
      <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
      <StreetName>$!{row.get("p.str_name")}</StreetName>
      <StreetAdditionalInfo></StreetAdditionalInfo>
      <StreetDirSuffix></StreetDirSuffix>
      <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
      <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
      <City>$!{row.get("p.city")}</City>
      <StateOrProvince>CA</StateOrProvince>
      <Country>USA</Country>
      <PostalCode>$!{row.get("p.zip")}</PostalCode>
      <CarrierRoute></CarrierRoute>
      <Unstructured></Unstructured>
    </StreetAddress>
    <ListingData>
      <REAgent>
        <FirstName></FirstName>
        <LastName>$!{row.get("p.lagt1_name")}</LastName>
        <ContactInformation>
          <OfficePhone>$!{row.get("p.lo_phone")}</OfficePhone>
          <CellPhone>$!{row.get("p.lagt1_1phn")}</CellPhone>
          <HomePhone></HomePhone>
          <Fax></Fax>
          <Pager></Pager>
          <Email>$!{row.get("p.agt_email")}</Email>
          <URL></URL>
        </ContactInformation>
        <StreetAddress>
          <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
          <BoxNumber></BoxNumber>
          <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
          <StreetName>$!{row.get("p.lo_addr")}</StreetName>
          <StreetAdditionalInfo></StreetAdditionalInfo>
          <StreetDirSuffix></StreetDirSuffix>
          <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
          <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
          <City>$!{row.get("p.lo_city")}</City>
          <StateOrProvince>CA</StateOrProvince>
          <Country>USA</Country>
          <PostalCode>$!{row.get("p.lo_zip")}</PostalCode>
          <CarrierRoute></CarrierRoute>
          <Unstructured></Unstructured>
        </StreetAddress>
        <ListingServiceName></ListingServiceName>
        <AgentID>$!{row.get("p.lagt1_memn")}</AgentID>
        <NRDSMemberID></NRDSMemberID>
        <OfficeID>$!{row.get("p.firmnr")}</OfficeID>
        <BrokerID></BrokerID>
        <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      </REAgent>
      <REOffice>
        <Name>$!{row.get("p.lo_name")}</Name>
        <ContactInformation>
          <OfficePhone>$!{row.get("p.lo_phone")}</OfficePhone>
          <CellPhone></CellPhone>
          <HomePhone></HomePhone>
          <Fax></Fax>
          <Pager></Pager>
          <Email></Email>
          <URL></URL>
        </ContactInformation>
        <StreetAddress>
          <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
          <BoxNumber></BoxNumber>
          <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
          <StreetName>$!{row.get("p.lo_addr")}</StreetName>
          <StreetAdditionalInfo></StreetAdditionalInfo>
          <StreetDirSuffix></StreetDirSuffix>
          <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
          <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
          <City>$!{row.get("p.lo_city")}</City>
          <StateOrProvince>CA</StateOrProvince>
          <Country>USA</Country>
          <PostalCode>$!{row.get("p.lo_zip")}</PostalCode>
          <CarrierRoute></CarrierRoute>
          <Unstructured></Unstructured>
        </StreetAddress>
        <ListingServiceName></ListingServiceName>
        <OfficeID>$!{row.get("p.firmnr")}</OfficeID>
        <BrokerID></BrokerID>
        <NRDSOfficeID></NRDSOfficeID>
        <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      </REOffice>
      <ListDate>$!{row.get("p.list_date")}</ListDate>
      <ListPrice>$!{row.get("p.list_price")}</ListPrice>
      <ListPriceLow></ListPriceLow>
      <ListPriceHigh></ListPriceHigh>
      <FinancialData>
        <LeaseTerms>
          <LeaseOption></LeaseOption>
        </LeaseTerms>
        <TradeTerms>
          <TradeOption></TradeOption>
        </TradeTerms>
        <RentalTerms>
          <RentalOption>
            <RentalAmount></RentalAmount>
          </RentalOption>
        </RentalTerms>
      </FinancialData>
      <ExpirationDate>$!{row.get("p.exp_date")}</ExpirationDate>
      <ShowingInstructions></ShowingInstructions>
      <ListingType></ListingType>
      <DisplayData>
        <DisplayFlagListing></DisplayFlagListing>
        <DisplayFlagAddress></DisplayFlagAddress>
      </DisplayData>
      <Commission>$!{row.get("p.soc_ext")}</Commission>
      <Remarks></Remarks>
      <PublicRemarks>$!{row.get("p.remarks")}</PublicRemarks>
    </ListingData>
    <MLSInformation>
      <ListingStatus>$!{row.get("p.status")}</ListingStatus>
      <OriginalListPrice>$!{row.get("p.org_price")}</OriginalListPrice>
      <ListingArea>$!{row.get("p.area")}</ListingArea>
      <StatusChangeDate></StatusChangeDate>
      <DaysOnMarket>$!{row.get("p.dom")}</DaysOnMarket>
      <ListingServiceName></ListingServiceName>
    </MLSInformation>
    <GeographicData>
      <Latitude></Latitude>
      <Longitude></Longitude>
      <County>$!{row.get("p.county")}</County>
      <Directions></Directions>
      <MapCoordinate>$!{row.get("p.tbm_grid")}</MapCoordinate>
      <URL></URL>
    </GeographicData>
    <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
    <ListingID>$!{row.get("p.mls_num")}</ListingID>
    <Zoning>$!{row.get("p.pzone")}</Zoning>
    <SalesData>
      <REAgent>
        <FirstName></FirstName>
        <LastName></LastName>
        <ContactInformation>
          <OfficePhone></OfficePhone>
          <CellPhone></CellPhone>
          <HomePhone></HomePhone>
          <Fax></Fax>
          <Pager></Pager>
          <Email></Email>
          <URL></URL>
        </ContactInformation>
        <StreetAddress>
          <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
          <BoxNumber></BoxNumber>
          <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
          <StreetName>$!{row.get("p.str_name")}</StreetName>
          <StreetAdditionalInfo></StreetAdditionalInfo>
          <StreetDirSuffix></StreetDirSuffix>
          <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
          <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
          <City>$!{row.get("p.city")}</City>
          <StateOrProvince></StateOrProvince>
          <Country></Country>
          <PostalCode>$!{row.get("p.zip")}</PostalCode>
          <CarrierRoute></CarrierRoute>
          <Unstructured></Unstructured>
        </StreetAddress>
        <ListingServiceName></ListingServiceName>
        <AgentID></AgentID>
        <NRDSMemberID></NRDSMemberID>
        <OfficeID></OfficeID>
        <BrokerID></BrokerID>
        <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      </REAgent>
      <REOffice>
        <Name></Name>
        <ContactInformation>
          <OfficePhone></OfficePhone>
          <CellPhone></CellPhone>
          <HomePhone></HomePhone>
          <Fax></Fax>
          <Pager></Pager>
          <Email></Email>
          <URL></URL>
        </ContactInformation>
        <StreetAddress>
          <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
          <BoxNumber></BoxNumber>
          <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
          <StreetName>$!{row.get("p.str_name")}</StreetName>
          <StreetAdditionalInfo></StreetAdditionalInfo>
          <StreetDirSuffix></StreetDirSuffix>
          <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
          <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
          <City>$!{row.get("p.city")}</City>
          <StateOrProvince></StateOrProvince>
          <Country></Country>
          <PostalCode>$!{row.get("p.zip")}</PostalCode>
          <CarrierRoute></CarrierRoute>
          <Unstructured></Unstructured>
        </StreetAddress>
        <ListingServiceName></ListingServiceName>
        <OfficeID></OfficeID>
        <BrokerID></BrokerID>
        <NRDSOfficeID></NRDSOfficeID>
        <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      </REOffice>
      <ContractDate>$!{row.get("p.sale_date")}</ContractDate>
      <ClosePrice>$!{row.get("p.sale_price")}</ClosePrice>
      <CloseDate>$!{row.get("p.sale_escdt")}</CloseDate>
    </SalesData>
    <SchoolData>
      <SchoolDistrict></SchoolDistrict>
      <PrimarySchool></PrimarySchool>
      <ElementarySchool></ElementarySchool>
      <MiddleSchool></MiddleSchool>
      <JuniorHighSchool></JuniorHighSchool>
      <HighSchool></HighSchool>
    </SchoolData>
    <TaxData>
      <StreetAddress>
        <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
        <BoxNumber></BoxNumber>
        <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
        <StreetName>$!{row.get("p.str_name")}</StreetName>
        <StreetAdditionalInfo></StreetAdditionalInfo>
        <StreetDirSuffix></StreetDirSuffix>
        <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
        <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
        <City>$!{row.get("p.city")}</City>
        <StateOrProvince></StateOrProvince>
        <Country></Country>
        <PostalCode>$!{row.get("p.zip")}</PostalCode>
        <CarrierRoute></CarrierRoute>
        <Unstructured></Unstructured>
      </StreetAddress>
      <MailingAddress>
        <StreetAddress>
          <StreetNumber>$!{row.get("p.str_num")}</StreetNumber>
          <BoxNumber></BoxNumber>
          <StreetDirPrefix>$!{row.get("p.str_dir")}</StreetDirPrefix>
          <StreetName>$!{row.get("p.str_name")}</StreetName>
          <StreetAdditionalInfo></StreetAdditionalInfo>
          <StreetDirSuffix></StreetDirSuffix>
          <StreetSuffix>$!{row.get("p.str_type")}</StreetSuffix>
          <UnitNumber>$!{row.get("p.unit")}</UnitNumber>
          <City>$!{row.get("p.city")}</City>
          <StateOrProvince></StateOrProvince>
          <Country></Country>
          <PostalCode>$!{row.get("p.zip")}</PostalCode>
          <CarrierRoute></CarrierRoute>
          <Unstructured></Unstructured>
        </StreetAddress>
      </MailingAddress>
      <TaxID></TaxID>
      <County>$!{row.get("p.county")}</County>
      <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      <LegalDescription></LegalDescription>
      <OwnersName></OwnersName>
      <AssessedValuation></AssessedValuation>
      <PropertyZoning></PropertyZoning>
      <ParcelMapURL></ParcelMapURL>
    </TaxData>
    <ParcelNumber></ParcelNumber>
    <View></View>
    <CopyrightNotice></CopyrightNotice>
    <Disclaimer></Disclaimer>
    <Community>
      <CommunityName></CommunityName>
      <ClubHouse></ClubHouse>
      <ExerciseArea></ExerciseArea>
      <Golf></Golf>
      <Tennis></Tennis>
      <RecreationalFacilities></RecreationalFacilities>
      <SecurityFacilities></SecurityFacilities>
      <SeniorCommunity></SeniorCommunity>
      <HotTub></HotTub>
      <Pool></Pool>
      <BoatFacilities></BoatFacilities>
      <HorseFacilities></HorseFacilities>
      <CommunityPark></CommunityPark>
    </Community>
    <PictureData>
      <PictureID></PictureID>
      <ModificationTimestamp>$!{row.get("p.modtimestamp")}</ModificationTimestamp>
      <URL></URL>
      <PictureCaption></PictureCaption>
    </PictureData>
    <PropertyType>
      <Rental></Rental>
      <Farm></Farm>
      <Condominium></Condominium>
      <TownHouse></TownHouse>
    </PropertyType>
  </Listing>
  <LotSize>
    <Area></Area>
    <Dimensions></Dimensions>
    <Length></Length>
    <Width></Width>
  </LotSize>
  <LotSizeRange></LotSizeRange>
  <Utilities></Utilities>
  <PresentUse></PresentUse>
  <Topography></Topography>
  <ParcelAccess></ParcelAccess>
  <DevelopmentStatus></DevelopmentStatus>
  <ExistingStructures></ExistingStructures>
  <HorseFacilities></HorseFacilities>
  <LotData>
    <CornerLot></CornerLot>
    <CuldeSac></CuldeSac>
    <GolfCourseLot></GolfCourseLot>
  </LotData>
  <ViewData>
    <CityLights></CityLights>
    <Mountain></Mountain>
    <Ocean></Ocean>
    <River></River>
    <Lake></Lake>
    <GolfCourse></GolfCourse>
    <Water></Water>
  </ViewData>
</LotsAndLand>
#end
</REProperties>
</REData>
#if ( $countLimit <= $results.rows.size() )
<MAXROWS/>
#end
#end 
</RETS>
