<?xml version="1.0" standalone="no"?>
<!DOCTYPE RETS SYSTEM "RETS-20041001.dtd">
<RETS ReplyCode="$!{results.replyCode}" ReplyText="$!{replyText}" >
#set( $countLimit = $parameters.get("Limit") )
#set( $searchCount = $parameters.get("Count") )
#set( $countOnly = false )
#set( $countAndData = false )
#if ($searchCount == "1") 
	#set( $countAndData = true)
#end
#if ($searchCount == "2") 
	#set( $countOnly = true)
#end
#if ($searchCount )
	#if ($countOnly || $countAndData)
<COUNT Records="$!{results.rows.size()}" />
	#end
#end
#if (!$countOnly )
<REData>
<REProperties>
#foreach( $row in $results.rows )
<REOffice>
  <Name>$!{row.get("o.officename")}</Name>
  <ContactInformation>
    <OfficePhone>$!{row.get("o.phone")}</OfficePhone>
    <CellPhone></CellPhone>
    <HomePhone></HomePhone>
    <Fax></Fax>
    <Pager></Pager>
    <Email></Email>
    <URL></URL>
  </ContactInformation>
  <StreetAddress>
    <StreetNumber></StreetNumber>
    <BoxNumber></BoxNumber>
    <StreetDirPrefix></StreetDirPrefix>
    <StreetName>$!{row.get("o.address1")}</StreetName>
    <StreetAdditionalInfo></StreetAdditionalInfo>
    <StreetDirSuffix></StreetDirSuffix>
    <StreetSuffix></StreetSuffix>
    <UnitNumber></UnitNumber>
    <City>$!{row.get("o.city")}</City>
    <StateOrProvince>$!{row.get("o.state")}</StateOrProvince>
    <Country>USA</Country>
    <PostalCode>$!{row.get("o.zip")}</PostalCode>
    <CarrierRoute></CarrierRoute>
  </StreetAddress>
  <ListingServiceName></ListingServiceName>
  <OfficeID>$!{row.get("o.officeid")}</OfficeID>
  <BrokerID></BrokerID>
  <NRDSOfficeID></NRDSOfficeID>
  <ModificationTimestamp>$!{row.get("o.modified")}</ModificationTimestamp>
</REOffice>
#end
</REProperties>
</REData>
#if ( $countLimit <= $results.rows.size() )
<MAXROWS/>
#end
#end 
</RETS>
