BODY {
	font-family : Arial, Helvetica, sans-serif;
	font-size : smaller;
	color : #000000;
	margin: 0;
	background-color:#E2E2C5;
}

P {
	font-family : Arial, Helvetica, sans-serif;
	
}

h1 { font-size: large;
	margin-left: 1em;
}